#root {
  margin: 0 ;
  padding: 0;
}

.image-mobile-light{
  background-image: url(/public/images/bg-mobile-light.jpg)
}
.image-desktop-light{
  background-image: url(/public/images/bg-desktop-light.jpg)
}
.image-mobile-dark{
  background-image: url(/public/images/bg-mobile-dark.jpg)
}
.image-desktop-dark{
  background-image: url(/public/images/bg-desktop-dark.jpg)
}